/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3 mars 2015, 20:28:31
    Author     : castagno
*/

.pane {
    -fx-background-color: orange;
    -fx-border-color: black;
    max-width : 107px;
    max-height : 97px;

    
}


.gridpane {
     -fx-border-color: black;
     -fx-grid-lines-visible: true;
     -fx-halignment: center;
     -fx-alignment: CENTER;  
}

.tuile {
    -fx-text-alignment: center;
    -fx-halignment: center;
    -fx-text-fill: white;
    -fx-font-size: 32;
    -fx-padding: 25 44 24 44;
    max-width : 107px;
    max-height : 97px;
}