/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3 mars 2015, 20:28:31
    Author     : castagno
*/

.pane {
    -fx-background-color: orange;
    -fx-border-color: black;
}

.gridpane {
     -fx-border-color: black;
     -fx-grid-lines-visible: true;
     /*-fx-border: 2px solid;*/
     -fx-halignment: center;
     -fx-alignment: CENTER;  
}

.tuile {
    /*-fx-text-alignment: center;
    -fx-halignment: center; */
    -fx-text-fill: white;
    /*-fx-font: "Cambria";*/
    -fx-font-size: 32;
    -fx-padding: 25 44 24 44;
}